  body {
    background-image: url("5.jpg");
  }
  div {
    width: 780px;
    padding: 10px;
    border: none;
    margin: auto;
  }
  h1   {
    color: white;
    font-family: 'Montserrat', sans-serif;font-size: 40px;
    padding: 10px;
  }
  h2   {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 20px;
  }
  h3   {
    text-align: center;
  }
  p    {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 20px;
  }
  a    {
    color: SlateBlue;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  img  {
    margin: auto;
    width: 400px;
    height: 266px;
  }
